
img.profile-photo{
    width: 10rem !important;
    height: 10rem	!important;
    position:fixed;
    top: 20%;
}
h1.title{
    font-size: 2rem;
    position:fixed;
    top: 9rem;
    left: 11rem;
}
#darkh1  {
    color: white ;
}
#lighth1{
    color: black;
}
#darkbody{
    background-color: #222 !important;
    color: #eee !important;
    transition: 0.5s;
    
}

#lightbody{
    background-color: #eee !important;
    color: #222 !important;
    transition: 0.5s;

}  
.description{
    position:fixed;
    top: 13rem;
    left: 11rem;
    width: 40%;
    font-size: 1rem;
} 
