
.icon-cloud-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    width:100vw;
}
img.profile-photo{
    width: 10rem !important;
    height: 10rem	!important;
}
h1.title{
    font-size: 2rem;
}
#darktext  {
    color: white ;
}
#lighttext{
    color: black;
}
#darkbody{
    background-color: #333 ;
    color: #eee !important;
    transition: 0.5s;
    
}

#lightbody{
    background-color: #ccc !important;
    color: #222 !important;
    transition: 0.5s;

}  
.description{
    font-size: 1rem;
} 
@media (max-width: 768px) {
    img.profile-photo{
        width: 10rem !important;
        height: 10rem	!important;
        top: 30%;
    }
    h1.title{
        font-size: 1rem;
        top: 6rem;
        left: 6rem;
    }
    .description{
        top: 8rem;
        left: 6rem;
        width: 40%;
        font-size: 0.5rem;
    } 
}
