.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100vw;
}
.contact-info{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:50vw;
    align-items: left;
}
@media (max-width: 600px) {
    .contact-info {
        grid-column-gap: 0;
    }
}