* { margin: 0; padding: 0; }
div.circle { 
  opacity:30%;
    background-color: yellow; 
    border-radius: 100px;
    height: 100px;
    width: 100px;
    translate: 0% 60% ;
   
   }
  
    .container {
      padding: 0  !important;;
      margin: 0 !important;
      font-family: arial;
      font-size: 24px;
      display: flex;
      justify-content: center!important;
      
      min-width: 100%!important;
      height:92% ;
      /* Center child horizontally*/  
      justify-content: center;
    }
    
    
  
   div.circle2 {
    opacity: 30%;
    width: 50rem;
    height: 25rem;
    background-color: #d8e048;
    border-radius: 50rem 50rem 0 0;
    box-shadow: 0 0 1rem 1rem rgba(246, 252, 94, 0.5);
   position:absolute;
    bottom:0px;
    
    
    
  }
   motion.p{
    color: aliceblue  !important;
   }