#root {
  
  padding: 10px !important;
  margin: 0px ;
  text-align: center;
  background-color: black;
}
label{
    right: -15px;
    top:10px;
    width: 60px;
    height:30px;
    position: relative;
    display: block;
    background: white;
    border-radius: 30px !important;
    box-shadow: inset 4px 4px 15px  rgba(237, 86, 86, 0.4) , inset 4px -4px 15px rgba(255,255,255,0.4) !important;
    cursor: pointer;
}

input {
    width:0;
    height:0;
    visibility: hidden;
}
label:after {
    content: "";
    width:28px;
    height: 28px;
    position: absolute;
    top:1px;
    left:1px;
    background: linear-gradient(180deg,#dcbbc2,#ecdce0);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);}
    input:checked + label {
        background: #6f3465;
      }
      input:checked + label:after {
        left:30px;
        
        background: linear-gradient(180deg,rgb(93, 15, 49),#cc7ec0);
      }
      label, label:after {
        transition: 0.3s
      }