/* Global Styles */
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}

/* Navbar Styles */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #334; /* Maintain original background color */
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.topnav img {
  width: 50px;
  height: 40px;
}

.topnav .menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white; /* Maintain original text color */
}

.nav-menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  margin: 0 10px;
}

.nav-menu a {
  color: white; /* Maintain original link color */
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
}

.nav-menu button {
  width: auto;
  margin: 0;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #ff6699; /* Maintain original button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-menu button:hover {
  background-color: #ff3366; /* Maintain original hover color */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .topnav .menu-icon {
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #334; /* Maintain original background color */
  }

  .nav-menu.open {
    display: flex;
  }

  .nav-menu li {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .topnav img {
    margin-bottom: 10px;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-menu.open#dark{
    display: flex;

  }
  .DayNightSlider {
    margin-left: 0;
  }
  #darknav{
    background-color: black;
    transition: 0.5s;
  }
  #lightnav{
    background-color: white;
    transition: 0.5s;
  }
  .topnav .DayNightSlider {
    margin-left: -125px !important; /* Adjust this value as needed */
  }
}
