
body{
  margin: 0;
  background-color: pink !important ;
}
button{
  color: aquamarine;
}
.navbar.navbar-default{
  background-color: blue !important;
}
.navbar.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}